#info h3 {
    font-size: 30px;
}

#info h3, h4 {
    text-align: center;
    color: #1E3163;
}

#info .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#info article {
    margin: 15px;
}

#info2 {
    border-color: #1E3163;
    border-width: 10px;
    border-style: solid;
}

#info2 p{
    font-size: 20px;
    text-align: center;
}

#info3 article {
    min-width: 160px;
    justify-content: center;
    font-size: 19px;
}

#proyectos h3 {
    font-size: 30px;
}

#proyectos h3, h4 {
    text-align: center;
}

#proyectos h4 {
    margin-bottom: 5px;
}

#proyectos .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#proyectos article {
    margin: 15px;  
}

#proyectos img {
    width: 100%;
    max-width: 500px;
}

#proyectos img:hover {
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px  #1E3163;
    -webkit-box-flex: 0px 0px 5px 5px #1E3163;
}

#kotlin img {
    width: 50%;
    transform: translate(50%);
}

/*.info4 h4 {
    font-size: 20px;
}

.info4 img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.info4 img:hover {
    border-radius: 10%;
    box-shadow: 0px 0px 5px 5px #262626;
    -webkit-box-flex: 0px 0px 5px 5px #262626;
}

#kotlin img {
    width: 50%;
    transform: translate(50%);
}*/

@media (min-width: 600px) {
    #info3 article {
        font-size: 22px;
    }

    #hobbies {
        padding-right: 10px;
    }

    #blandas {
        padding-left: 10px;
    }

    #proyectos img {
        width: 100%;
        max-width: 650px;
    }

    #kotlin img {
        width: 100%;
        max-width: 300px;
        transform: translate(3%);
    }
}

@media (min-width: 800px) {
    #info p {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    #info p {
        font-size: 30px;
    }

    #info h3 {
        font-size: 45px;
    }

    #info h4 {
        font-size: 30px;
    }

    #kotlin img {
        width: 100%;
        max-width: 250px;
        transform: translate(40%);
    }

    #proyectos h3 {
        font-size: 45px;
    }

    #proyectos h4 {
        font-size: 25px;
    }
}