.container_ttda {
    width: 250px;
    height: 100%;
    max-height: 200px;
}

.container_ttda p {
    margin-top: 0;
    margin-bottom: 10px;
}

.slider_ttda li {
    list-style: none;
}

.slider_ttda {
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 200px;
}

.slider_ttda li {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
}

.slider_ttda li img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 200px;
    padding: 5px;
}

.slider_ttda li:first-child {
    opacity: 1;
}

.slider_ttda li:target {
    opacity: 1;
}

.selector_ttda {
    text-align: center;
}

.selector_ttda li {
    display: inline-block;
    text-align: center;
}

.selector_ttda li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #1E3163;
    padding: 3px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 100%;
    cursor: pointer;
}

ul.slider_ttda {
    height: 200px;
}

.proyecto_ttda a {
    text-decoration: none;
    color: #1E3163;
    font-size: 25px;
}

.proyecto_ttda {
    font-size: 10px;
}

@media (min-width: 400px) {
    .container_ttda {
        width: 380px;
    }

    .selector_ttda li a {
        padding: 5px;
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .slider_ttda {
        max-width: 400px;
    }

    .slider_ttda li img {
        width: 380px;
        max-width: 380px;
    }

    .proyecto_ttda {
        font-size: 14px;
    }

    ul.slider_ttda {
        height: 250px;
    }
}

@media (min-width: 768px) {
    .container_ttda {
        width: auto;
        max-height: 650px;
    }

    .slider_ttda {
        height: 450px;
    }

    .slider_ttda li img {
        width: 680px;
        max-width: 680px;
        max-height: 550px;
    }

    .proyecto_ttda {
        font-size: 20px;
    }

    ul.slider_ttda {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .container_ttda {
        width: 960px;
        max-height: 500px;
    }

    .slider_ttda {
        height: 450px;
    }

    ul.slider_ttda {
        height: 450px;
    }

    .slider_ttda li img {
        width: 750px;
        max-width: 800px;
        transform: translateX(15%);
    }
}

@media (min-width: 800px) and (max-height: 600px) {
    .container_ttda {
        max-height: 400px;
    }

    .slider_ttda li img {
        max-width: 400px;
        transform: translateX(30%);
    }

    ul.slider_ttda {
        height: 230px;
    }

    .selector_ttda li a {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .proyecto_ttda {
        font-size: 10px;
    }
}

@media (min-width: 1024px) and (max-height: 768px) {
    .container_ttda {
        max-width: 850px;
        max-height: 550px;
    }

    .slider_ttda li img {
        max-width: 500px;
        transform: translateX(40%);
    }

    ul.slider_ttda {
        height: 350px;
    }

    .proyecto_ttda {
        font-size: 16px;
    }
}

@media (min-width: 1280px) and (max-height: 720px) {
    .container_ttda {
        max-height: 550px;
    }

    .slider_ttda li img {
        max-width: 500px;
        transform: translateX(45%);
    }

    ul.slider_ttda {
        height: 300px;
    }

    .proyecto_ttda {
        font-size: 16px;
    }
}