/*Informacion sobre mi y vista general de los proyectos*/
#info h3 {
    font-size: 30px;
}

#info h3, h4 {
    text-align: center;
    color: #1E3163;
}

#info .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#info article {
    margin: 15px;
}

#info2 {
    border-color: #1E3163;
    border-width: 5px;
    border-style: solid;
}

#info2 p{
    font-size: 16px;
    text-align: center;
}

#info3 article {
    min-width: 160px;
    justify-content: center;
    font-size: 14px;
}

/*vista general de los proyectos*/
#proyectos h3 {
    font-size: 30px;
}

#proyectos h3, h4 {
    text-align: center;
}

#proyectos h4 {
    margin-bottom: 5px;
    font-size: 25px;
}

#proyectos .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#proyectos {
    display: block;
    justify-content: center;
}

#proyectos article {
    margin: 15px;
}

#proyectos img {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
}

#proyectos img:hover {
    border-radius: 5%;
    box-shadow: 0px 0px 5px 5px  #1E3163;
    -webkit-box-flex: 0px 0px 5px 5px #1E3163;
}

#kotlin img {
    width: 50%;
    transform: translate(50%);
    cursor: pointer;
}

#proyectos .demo {
    max-width: 100%;
    max-height: 20px;
}

#proyectos .demo h4 {
    cursor: pointer;
    font-size: 30px;
}

#proyectos a {
    text-decoration: none;
    color: #1E3163;
}

#kotlin .demo {
    max-width: 100%;
}

#kotlin .demo h4 {
    cursor: pointer;
    font-size: 30px;
}

#kotlin a {
    text-decoration: none;
    color: #1E3163;
}

@media (min-width: 600px) {
    #info2 p {
        font-size: 20px;
    }

    #info3 article {
        font-size: 22px;
    }

    #hobbies {
        padding-right: 10px;
    }

    #blandas {
        padding-left: 10px;
    }

    #proyectos h4{
        font-size: 28px;
    }

    #proyectos img {
        width: 100%;
        max-width: 650px;
    }

    #kotlin img {
        width: 100%;
        max-width: 300px;
        transform: translate(45%);
    }
}

@media (min-width: 800px) {
    #info p {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {
    #info p {
        font-size: 30px;
    }

    #info h3 {
        font-size: 45px;
    }

    #info h4 {
        font-size: 30px;
    }

    #proyectos img{
        max-width: 470px;
    }

    #kotlin img {
        width: 100%;
        max-width: 250px;
        transform: translate(40%);
    }

    #kotlin h4 {
        font-size: 2px;
    }

    #proyectos h4 {
        font-size: 23px;
    }
}